[Unit]
Description=aurbuilder Package build job

[Service]
Type=simple
User=aurbuilder
Group=aurbuilder
ExecStart=/usr/lib/aurbuilder/build_packages.sh
Restart=no
StartLimitInterval=10min
StartLimitBurst=8
